page-administracion {

  .itemColor{
    background-color: lightyellow;
  }

  .itemColorChatActive{
    background-color: lightgreen;
  }

  .itemColorChatDisabled{
    background-color: lightsalmon;
  }

}
