<ion-header>

  <ion-navbar>
    <ion-row>
      <ion-col col-10 *ngIf="!clase.id">
        <button block  ion-button color="primary" outline (click)="crearClase()">
            Crear Clase
         </button>
      </ion-col>
      <ion-col col-5 *ngIf="clase.id" >
        <button block ion-button color="warning" outline (click)="actualizarClase()">
          Actualizar
         </button>
      </ion-col>
      <ion-col col-5 *ngIf="clase.id">
        <button block  ion-button color="danger" outline (click)="borrarClase(clase.day, clase.id)">
          Eliminar
         </button>
      </ion-col>
      <ion-col col-2>
          <button ion-button block outline color="dark" icon-only (click)="cerrarModal()">
         <ion-icon name="md-close"></ion-icon>
       </button>
      </ion-col>
    </ion-row>
  </ion-navbar>

</ion-header>


<ion-content padding-right>
  <button ion-button block outline color="dark" icon-only (click)="newSubject()">
 <ion-icon name="add-circle"></ion-icon>
</button>
<button ion-button block outline color="danger" icon-only (click)="deleteSubjects()">
<ion-icon name="trash"></ion-icon>
</button>
<ion-item>
  <ion-label color="dark">Asignatura</ion-label>
  <ion-select [(ngModel)]="clase.subject" name="subject">
    <ion-option value="null">No definida</ion-option>
    <ion-option *ngFor="let subj of subjects" value="{{subj.acronym}}" required>{{subj.acronym}} - {{subj.name}}</ion-option>
  </ion-select>
</ion-item>
<ion-item>
  <ion-label color="dark">Día</ion-label>
  <ion-select [(ngModel)]="clase.day" name="day">
    <ion-option value="lunes">Lunes</ion-option>
    <ion-option value="martes">Martes</ion-option>
    <ion-option value="miercoles">Miércoles</ion-option>
    <ion-option value="jueves">Jueves</ion-option>
    <ion-option value="viernes">Viernes</ion-option>
  </ion-select>
</ion-item>
<ion-item>
  <ion-label color="dark">Hora inicio</ion-label>
  <ion-datetime displayFormat="HH:mm" [(ngModel)]="clase.startTime"></ion-datetime>
</ion-item>
<ion-item>
  <ion-label color="dark" fixed>Nº Aula</ion-label>
  <ion-input maxlength="3" text-right type="tel" placeholder="123" [(ngModel)]="clase.classroom"></ion-input>
</ion-item>
<ion-item>
  <ion-label color="dark">Edificio</ion-label>
  <ion-select text-right [(ngModel)]="clase.building" name="building">
    <ion-option value="null">No definido</ion-option>
    <ion-option value="rojo">❤️ Rojo (V)</ion-option>
    <ion-option value="amarillo">💛 Amarillo (G)</ion-option>
    <ion-option value="azul">💙 Azul (B)</ion-option>
  </ion-select>
</ion-item>
<ion-item>
  <ion-label color="dark" stacked>Observaciones</ion-label>
  <ion-input [(ngModel)]="clase.obs" maxlength="30" rows="1" type="text" placeholder="Información opcional"></ion-input>
</ion-item>

</ion-content>
