<!-- <ion-header>

  <ion-navbar>
    <ion-title>Inicio</ion-title>
  </ion-navbar>

</ion-header> -->


<ion-content (swipe)="swipeEvent($event)">

  <ion-card *ngIf="cardInfoShow">
    <ion-card-content>
      <ion-row>
        <ion-col col-10>
          <p style="text-align: justify"> ℹ️ Si cierras la aplicación no podremos avisarte de todo lo que hayas programado en la pestaña de avisos. </p>
        </ion-col>
        <ion-col col-2 align-self-center>
          <button ion-button large clear icon-only (click)="closeCardInfo()">
          <ion-icon name="close-circle"></ion-icon>
        </button>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

  <ion-card [ngStyle]="{'background-color': news.color}" (swipe)="swipeEvent($event)">
    <img src="assets/img/logo_beaconsUPC.png" />
    <!--<img src="{{news.image}}"/>-->
    <ion-card-content>
      <ion-card-title text-center>
        <!-- <ion-card-title text-center> -->
        <span style="text-align: justify">{{news.title}}</span>
      </ion-card-title>
      <h3 style="text-align: justify">{{news.description}}</h3>
      <ion-item *ngIf="news.startNews" no-lines text-center>
        ▶️ Empieza el {{news.startNews | date:'dd/MM/yyyy - HH:mm'}}h
      </ion-item>
    </ion-card-content>
    <ion-row no-padding *ngIf="news.id || news.url">
      <ion-col>
        <button *ngIf="news.id" ion-button block color="dark" icon-start (click)=saveUserNews()>
      <ion-icon name='star'></ion-icon>
      Guardar
    </button>
      </ion-col>
      <ion-col text-center>
        <button *ngIf="news.url" ion-button block color="dark" icon-start>
      <ion-icon name='information-circle'></ion-icon>
      Más info
    </button>
      </ion-col>
    </ion-row>
  </ion-card>

</ion-content>
