<!-- <ion-header>

  <ion-navbar>
    <ion-title>Inicio</ion-title>
  </ion-navbar>

</ion-header> -->


<ion-content (swipe)="swipeEvent($event)" style="background-color: #333">

  <ion-card *ngIf="cardInfoShow">
    <ion-card-content>
      <ion-row>
        <ion-col col-10>
          <p style="text-align: justify"> ℹ️ Si cierras la aplicación no podremos avisarte de todo lo que hayas programado en la pestaña de avisos. </p>
        </ion-col>
        <ion-col col-2 align-self-center>
          <button ion-button large clear icon-only (click)="closeCardInfo()">
          <ion-icon name="close-circle"></ion-icon>
        </button>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

  <ion-card [ngStyle]="{'background-color': news.color}" (swipe)="swipeEvent($event)">
    <img *ngIf="news.img == ''" src="assets/img/logo_beaconsUPC.png" />
    <img *ngIf="news.img != ''" src="{{ news.img }}"/>
    <ion-card-content style="padding: 5px 15px !important">
      <h1 style="text-align: center">{{news.title}}</h1>
      <ion-card-title text-center>
        <h3 style="text-align: justify">{{news.description}}</h3>
      </ion-card-title>

      <button (click)=openNewsMarkerInMapButton(news.marker) *ngIf="news.marker != 'null'" text-center ion-button clear round icon-end large color="danger" style="background-color: white">
        <h1 style="color: black">{{news.startNews | date:'dd/MM/yyyy - HH:mm'}}h</h1>
        <ion-icon name='pin' is-active="false"></ion-icon>
      </button>

    </ion-card-content>

    <ion-row no-padding *ngIf="news.id || news.url">
      <ion-col col-12 *ngIf="news.id && !news.url">
        <button ion-button block color="dark" icon-start (click)=saveUserNews()>
          <ion-icon name='star'></ion-icon>
          Guardar
        </button>
      </ion-col>
      <ion-col col-6 *ngIf="news.id && news.url" >
        <button  ion-button block color="dark" icon-start (click)=saveUserNews()>
          <ion-icon name='star'></ion-icon>
          Guardar
        </button>
      </ion-col>
      <ion-col col-6 *ngIf="news.url">
        <button ion-button block color="dark" icon-start (click)=openURL(news.url)>
      <ion-icon name='information-circle'></ion-icon>
      Más info
    </button>
      </ion-col>
    </ion-row>

  </ion-card>

</ion-content>
