<!-- <ion-header>
  <ion-navbar>

  </ion-navbar>
</ion-header> -->


<ion-content style="background-color: #333">
  <div [ngSwitch]="segment">
    <ion-list *ngSwitchCase="'reminders'">
      <ion-item-sliding #item *ngFor="let reminder of reminders">
      <ion-item (click)="muestraRecordatorio(reminder)">
        <h2>{{ reminder.title }} al {{reminder.when}}</h2>
        <p>{{ reminder.description }}</p>
      </ion-item>
      <ion-item-options side="right">
        <button ion-button  color="danger" (click)="borrarRecordatorio(reminder.id)"><ion-icon name="trash"></ion-icon>
           Borrar
        </button>
      </ion-item-options>
      <ion-item-options side="left">
        <button ion-button  color="warning" (click)="muestraRecordatorio(reminder)"><ion-icon name="md-create"></ion-icon>
           Editar
        </button>
      </ion-item-options>
      </ion-item-sliding>
    </ion-list>

    <ion-list *ngSwitchCase="'news'">
      <ion-item-sliding #item *ngFor="let noticia of news">
      <ion-item  [ngStyle]="{'background-color': noticia.color}" (click)="muestraNoticia(noticia)">
        <ion-thumbnail item-start>
          <img src="assets/img/icon.png">
        </ion-thumbnail>
        <h1>{{ noticia.title }}</h1>
        <h3>{{ noticia.description }}</h3>
        <!--Oculto la siguiente fila si no tiene marcador asociado porque entonces quiere decir que es una noticia y no un evento con fecha de inicio-->
        <h5 *ngIf="noticia.marker != 'null'" style="float: left; background-color: #FFFFFF;">▶️ {{noticia.startNews | date:'dd/MM/yyyy - HH:mm'}}&nbsp;</h5>
      </ion-item>
      <ion-item-options side="right">
        <button ion-button  color="danger" (click)="borrarNoticia(noticia.id)"><ion-icon name="trash"></ion-icon>
           Borrar
        </button>
      </ion-item-options>
      <ion-item-options side="left">
        <button ion-button  color="warning" (click)="muestraNoticia(noticia)"><ion-icon name="md-create"></ion-icon>
           Editar
        </button>
      </ion-item-options>
      </ion-item-sliding>
    </ion-list>

    <ion-list *ngSwitchCase="'classes'">
<!-- card informativo-->
      <ion-card *ngIf="!lunes && !martes && !miercoles && !jueves && !viernes"><!-- se muestra cuando no hay ninguna clase creada-->
        <ion-card-content>
          <ion-row>
            <ion-col col-12>
              <p style="text-align: justify"> ℹ️ En esta pestaña puedes añadir tus clases de toda la semana. Nosotros nos encargaremos de notificarte a qué clase debes ir cada vez que entres al campus 👌😜 </p>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>

<!-- CARD LUNES -->
      <ion-card>
        <ion-card-header style="background-color: #BDBDBD; padding: 0px;" [ngClass]="{'titleCardColor' : (today == 'lunes')}">
          <ion-row>
            <ion-col col-1 style="padding: 0 !important; text-align: left !important;">
              <button *ngIf="lunes" class="button-left" color="white" ion-button icon-only clear style="margin: 0 !important" (click)="goToClassesView(lunes)">
                  <ion-icon name="eye"></ion-icon>
                </button>
            </ion-col>
            <ion-col col-8 style="text-align: center !important;">
              <span style="font-size: 20px; font-weight: bold;">L U N E S</span>
            </ion-col>
            <ion-col col-3 style="padding: 0 !important; text-align: right !important;">
              <button class="button-right" color="warning" ion-button full icon-only style="margin: 0 !important" (click)="nuevaClaseLunes()">
                  <ion-icon class="icon-padding-left" name="add"></ion-icon><ion-icon class="icon-padding-right" name="school"></ion-icon>
                </button>
            </ion-col>
          </ion-row>

        </ion-card-header>
        <ion-card-content class="padding" *ngIf="lunes" [ngClass]="{'cardColor' : (today == 'lunes')}" (click)="goToClassesView(lunes)">
          <ion-row *ngFor="let clase of lunes">
            <ion-col col-2>
              <ion-row style="flex-wrap: nowrap !important">
                <ion-icon color="dark" name="document"></ion-icon>&nbsp;{{clase.subject}}
              </ion-row>
            </ion-col>
            <ion-col col-3>
                  &nbsp;&nbsp;&nbsp;<ion-icon color="dark" name="clock"></ion-icon> {{clase.startTime}}h
            </ion-col>
            <ion-col col-2>
                <ion-icon *ngIf="clase.building == 'null'" color="dark" name="home"></ion-icon>
                <ion-icon *ngIf="clase.building == 'azul'" color="primary" name="home"></ion-icon>
                <ion-icon *ngIf="clase.building == 'rojo'" color="danger" name="home"></ion-icon>
                <ion-icon *ngIf="clase.building == 'amarillo'" color="yellow" name="home"></ion-icon>
                {{clase.classroom}}
            </ion-col>
            <ion-col col-5>
              <ion-row style="flex-wrap: nowrap !important" *ngIf="clase.obs">
                <ion-icon color="dark" name="information-circle"></ion-icon>&nbsp;{{clase.obs}}
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>

      <!-- CARD MARTES -->
            <ion-card>
              <ion-card-header style="background-color: #BDBDBD; padding: 0px;" [ngClass]="{'titleCardColor' : (today == 'martes')}">
                <ion-row>
                  <ion-col col-1 style="padding: 0 !important; text-align: left !important;">
                    <button *ngIf="martes" class="button-left" color="white" ion-button icon-only clear style="margin: 0 !important" (click)="goToClassesView(martes)">
                        <ion-icon name="eye"></ion-icon>
                      </button>
                  </ion-col>
                  <ion-col col-8 style="text-align: center !important;">
                    <span style="font-size: 20px; font-weight: bold;">M A R T E S</span>
                  </ion-col>
                  <ion-col col-3 style="padding: 0 !important; text-align: right !important;">
                    <button class="button-right" color="warning" ion-button full icon-only style="margin: 0 !important" (click)="nuevaClaseMartes()">
                        <ion-icon class="icon-padding-left" name="add"></ion-icon><ion-icon class="icon-padding-right" name="school"></ion-icon>
                      </button>
                  </ion-col>
                </ion-row>

              </ion-card-header>
              <ion-card-content class="padding" *ngIf="martes" [ngClass]="{'cardColor' : (today == 'martes')}" (click)="goToClassesView(martes)">
                <ion-row *ngFor="let clase of martes">
                  <ion-col col-2>
                    <ion-row style="flex-wrap: nowrap !important">
                      <ion-icon color="dark" name="document"></ion-icon>&nbsp;{{clase.subject}}
                    </ion-row>
                  </ion-col>
                  <ion-col col-3>
                        &nbsp;&nbsp;&nbsp;<ion-icon color="dark" name="clock"></ion-icon> {{clase.startTime}}h
                  </ion-col>
                  <ion-col col-2>
                      <ion-icon *ngIf="clase.building == 'null'" color="dark" name="home"></ion-icon>
                      <ion-icon *ngIf="clase.building == 'azul'" color="primary" name="home"></ion-icon>
                      <ion-icon *ngIf="clase.building == 'rojo'" color="danger" name="home"></ion-icon>
                      <ion-icon *ngIf="clase.building == 'amarillo'" color="yellow" name="home"></ion-icon>
                      {{clase.classroom}}
                  </ion-col>
                  <ion-col col-5>
                    <ion-row style="flex-wrap: nowrap !important" *ngIf="clase.obs">
                      <ion-icon color="dark" name="information-circle"></ion-icon>&nbsp;{{clase.obs}}
                    </ion-row>
                  </ion-col>
                </ion-row>
              </ion-card-content>
            </ion-card>

            <!-- CARD MIERCOLES -->
                  <ion-card>
                    <ion-card-header style="background-color: #BDBDBD; padding: 0px;" [ngClass]="{'titleCardColor' : (today == 'miercoles')}">
                      <ion-row>
                        <ion-col col-1 style="padding: 0 !important; text-align: left !important;">
                          <button *ngIf="miercoles" class="button-left" color="white" ion-button icon-only clear style="margin: 0 !important" (click)="goToClassesView(miercoles)">
                              <ion-icon name="eye"></ion-icon>
                            </button>
                        </ion-col>
                        <ion-col col-8 style="text-align: center !important;">
                          <span style="font-size: 20px; font-weight: bold;">M I É R C O L E S</span>
                        </ion-col>
                        <ion-col col-3 style="padding: 0 !important; text-align: right !important;">
                          <button class="button-right" color="warning" ion-button full icon-only style="margin: 0 !important" (click)="nuevaClaseMiercoles()">
                              <ion-icon class="icon-padding-left" name="add"></ion-icon><ion-icon class="icon-padding-right" name="school"></ion-icon>
                            </button>
                        </ion-col>
                      </ion-row>

                    </ion-card-header>
                    <ion-card-content class="padding" *ngIf="miercoles" [ngClass]="{'cardColor' : (today == 'miercoles')}" (click)="goToClassesView(miercoles)">
                      <ion-row *ngFor="let clase of miercoles">
                        <ion-col col-2>
                          <ion-row style="flex-wrap: nowrap !important">
                            <ion-icon color="dark" name="document"></ion-icon>&nbsp;{{clase.subject}}
                          </ion-row>
                        </ion-col>
                        <ion-col col-3>
                              &nbsp;&nbsp;&nbsp;<ion-icon color="dark" name="clock"></ion-icon> {{clase.startTime}}h
                        </ion-col>
                        <ion-col col-2>
                            <ion-icon *ngIf="clase.building == 'null'" color="dark" name="home"></ion-icon>
                            <ion-icon *ngIf="clase.building == 'azul'" color="primary" name="home"></ion-icon>
                            <ion-icon *ngIf="clase.building == 'rojo'" color="danger" name="home"></ion-icon>
                            <ion-icon *ngIf="clase.building == 'amarillo'" color="yellow" name="home"></ion-icon>
                            {{clase.classroom}}
                        </ion-col>
                        <ion-col col-5>
                          <ion-row style="flex-wrap: nowrap !important" *ngIf="clase.obs">
                            <ion-icon color="dark" name="information-circle"></ion-icon>&nbsp;{{clase.obs}}
                          </ion-row>
                        </ion-col>
                      </ion-row>
                    </ion-card-content>
                  </ion-card>

                  <!-- CARD JUEVES -->
                        <ion-card>
                          <ion-card-header style="background-color: #BDBDBD; padding: 0px;" [ngClass]="{'titleCardColor' : (today == 'jueves')}">
                            <ion-row>
                              <ion-col col-1 style="padding: 0 !important; text-align: left !important;">
                                <button *ngIf="jueves" class="button-left" color="white" ion-button icon-only clear style="margin: 0 !important" (click)="goToClassesView(jueves)">
                                    <ion-icon name="eye"></ion-icon>
                                  </button>
                              </ion-col>
                              <ion-col col-8 style="text-align: center !important;">
                                <span style="font-size: 20px; font-weight: bold;">J U E V E S</span>
                              </ion-col>
                              <ion-col col-3 style="padding: 0 !important; text-align: right !important;">
                                <button class="button-right" color="warning" ion-button full icon-only style="margin: 0 !important" (click)="nuevaClaseJueves()">
                                    <ion-icon class="icon-padding-left" name="add"></ion-icon><ion-icon class="icon-padding-right" name="school"></ion-icon>
                                  </button>
                              </ion-col>
                            </ion-row>

                          </ion-card-header>
                          <ion-card-content class="padding" *ngIf="jueves" [ngClass]="{'cardColor' : (today == 'jueves')}" (click)="goToClassesView(jueves)">
                            <ion-row *ngFor="let clase of jueves">
                              <ion-col col-2>
                                <ion-row style="flex-wrap: nowrap !important">
                                  <ion-icon color="dark" name="document"></ion-icon>&nbsp;{{clase.subject}}
                                </ion-row>
                              </ion-col>
                              <ion-col col-3>
                                    &nbsp;&nbsp;&nbsp;<ion-icon color="dark" name="clock"></ion-icon> {{clase.startTime}}h
                              </ion-col>
                              <ion-col col-2>
                                  <ion-icon *ngIf="clase.building == 'null'" color="dark" name="home"></ion-icon>
                                  <ion-icon *ngIf="clase.building == 'azul'" color="primary" name="home"></ion-icon>
                                  <ion-icon *ngIf="clase.building == 'rojo'" color="danger" name="home"></ion-icon>
                                  <ion-icon *ngIf="clase.building == 'amarillo'" color="yellow" name="home"></ion-icon>
                                  {{clase.classroom}}
                              </ion-col>
                              <ion-col col-5>
                                <ion-row style="flex-wrap: nowrap !important" *ngIf="clase.obs">
                                  <ion-icon color="dark" name="information-circle"></ion-icon>&nbsp;{{clase.obs}}
                                </ion-row>
                              </ion-col>
                            </ion-row>
                          </ion-card-content>
                        </ion-card>

                        <!-- CARD VIERNES -->
                              <ion-card>
                                <ion-card-header style="background-color: #BDBDBD; padding: 0px;" [ngClass]="{'titleCardColor' : (today == 'viernes')}">
                                  <ion-row>
                                    <ion-col col-1 style="padding: 0 !important; text-align: left !important;">
                                      <button *ngIf="viernes" class="button-left" color="white" ion-button icon-only clear style="margin: 0 !important" (click)="goToClassesView(viernes)">
                                          <ion-icon name="eye"></ion-icon>
                                        </button>
                                    </ion-col>
                                    <ion-col col-8 style="text-align: center !important;">
                                      <span style="font-size: 20px; font-weight: bold;">V I E R N E S</span>
                                    </ion-col>
                                    <ion-col col-3 style="padding: 0 !important; text-align: right !important;">
                                      <button class="button-right" color="warning" ion-button full icon-only style="margin: 0 !important" (click)="nuevaClaseViernes()">
                                          <ion-icon class="icon-padding-left" name="add"></ion-icon><ion-icon class="icon-padding-right" name="school"></ion-icon>
                                        </button>
                                    </ion-col>
                                  </ion-row>

                                </ion-card-header>
                                <ion-card-content class="padding" *ngIf="viernes" [ngClass]="{'cardColor' : (today == 'viernes')}" (click)="goToClassesView(viernes)">
                                  <ion-row *ngFor="let clase of viernes">
                                    <ion-col col-2>
                                      <ion-row style="flex-wrap: nowrap !important">
                                        <ion-icon color="dark" name="document"></ion-icon>&nbsp;{{clase.subject}}
                                      </ion-row>
                                    </ion-col>
                                    <ion-col col-3>
                                          &nbsp;&nbsp;&nbsp;<ion-icon color="dark" name="clock"></ion-icon> {{clase.startTime}}h
                                    </ion-col>
                                    <ion-col col-2>
                                        <ion-icon *ngIf="clase.building == 'null'" color="dark" name="home"></ion-icon>
                                        <ion-icon *ngIf="clase.building == 'azul'" color="primary" name="home"></ion-icon>
                                        <ion-icon *ngIf="clase.building == 'rojo'" color="danger" name="home"></ion-icon>
                                        <ion-icon *ngIf="clase.building == 'amarillo'" color="yellow" name="home"></ion-icon>
                                        {{clase.classroom}}
                                    </ion-col>
                                    <ion-col col-5>
                                      <ion-row style="flex-wrap: nowrap !important" *ngIf="clase.obs">
                                        <ion-icon color="dark" name="information-circle"></ion-icon>&nbsp;{{clase.obs}}
                                      </ion-row>
                                    </ion-col>
                                  </ion-row>
                                </ion-card-content>
                              </ion-card>


    </ion-list>


  </div>

<!--Botón flotante-->
  <!-- <ion-fab right top edge>
    <button ion-fab>
      <ion-icon name="add"></ion-icon>
    </button>
    <ion-fab-list color="black">
      <button ion-fab (tap)="nuevaNotificacion()"><ion-icon name="notifications"></ion-icon></button>
      <button ion-fab (tap)="nuevaClase()"><ion-icon name="school"></ion-icon></button>
    </ion-fab-list>
  </ion-fab> -->

</ion-content>

<ion-footer >
  <ion-toolbar no-border-top class="no-padding">
    <ion-segment [(ngModel)]="segment" color="light" style="background-color: #333">
      <ion-segment-button value="classes">
        <ion-icon name="school"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="reminders">
        <ion-icon name="notifications"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="news">
        <ion-icon name="bookmarks"></ion-icon>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-footer>
