page-classes-view {

  .button-right{
    //border-top-right-radius: 5px;
    border-bottom-right-radius: 30px;
  }

  .button-left{
    border-top-left-radius: 30px;
    //border-bottom-left-radius: 5px;
  }

  .card{
    border-bottom-right-radius: 30px;
    //border-top-right-radius: 5px;
    border-top-left-radius: 30px;
    //border-bottom-left-radius: 5px;
  }

  .toolbar-background-md {
    border-color: #b2b2b2;
    background: #333;
  }

  .toolbar-title-md {
    padding: 0 12px;
    font-size: 3rem;
    font-weight: 500;
    color: #FFFFFF;
}

}
